<table>
  <tr>
    <th id="table-name" colspan="4">EMPLOYEES</th>
  </tr>
  <tr>
    <th>NAME</th>
    <th>LAST NAME</th>
    <th>PERSONAL ID</th>
    <th>EMAIL</th>
  </tr>
  <tr
    *ngFor="let employee of employees"
    (click)="
      setEmployee(
        employee.id,
        employee.firstName,
        employee.lastName,
        employee.personalId,
        employee.email
      )
    "
  >
    <td id="{{ employee.id }}">{{ employee.firstName }}</td>
    <td id="{{ employee.id }}">{{ employee.lastName }}</td>
    <td id="{{ employee.id }}">{{ employee.personalId }}</td>
    <td id="{{ employee.id }}">{{ employee.email }}</td>
  </tr>
</table>
<div id="page-navigation">
  <input type="button" (click)="decreasePage()" value="<" />
  <input id="page-number" type="button" value="{{ pageNumber }}" />
  <input type="button" (click)="increasePage()" value=">" />
</div>
